#.travis.yml

sudo: required
dist: trusty
language: node_js
node_js:
  - "6.9"

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

branches:
  only:
    - master

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g @angular/cli
  - npm install -g karma

script:
  - ng build --prod
  - karma start karma.conf.js --single-run

notifications:
  email:
    on_failure: change
    on_success: change