@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
body {
    font-family: Century;
    -webkit-font-smoothing: antialiased;
    background-image: url("assets/bg.jpg");

}