<div class="app-content">
    <div class="group">
        <form>
      <span class="app-action">
        <button mat-fab (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
      </span><br><br>
            <mat-card>
                <mat-tab-group >
                    <mat-tab>
                        <ul>
                            <ng-template mat-tab-label>
                                Take a photo
                            </ng-template>
                            <div>

                                <ack-webcam
                                        [(ref)]   = "webcam"
                                        [options] = "options"
                                        (success) = "onCamSuccess($event)"
                                        (catch)   = "onCamError($event)"
                                ></ack-webcam>
                                <button (click)="genBase64()"> generate base64 </button>
                                <button (click)="genPostData()"> generate post data </button>

                            </div>
                        </ul>
                    </mat-tab>
                    <mat-tab>
                        <ul>
                            <ng-template mat-tab-label>
                                My photos
                            </ng-template>
                            <div>
                              <ul>
                                <li *ngFor="let d of data | async">{{d.name}}</li>
                              </ul>
                            </div>
                        </ul>
                    </mat-tab>
                    <mat-tab>
                        <ul>
                            <ng-template mat-tab-label>
                              My cards
                            </ng-template>
                            <div>
                              <ul>
                                <li *ngFor="let d of data | async">{{d.name}}</li>
                              </ul>
                            </div>
                        </ul>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </form>
    </div>
</div>
