<div class="app-content">
    <div class="group">
        <form>
      <span class="app-action">
        <button mat-fab (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
      </span><br><br>
            <mat-card>
                <mat-tab-group  (selectedTabChange)="tabChange($event)">
                    <mat-tab>
                        <ul>
                            <ng-template mat-tab-label>
                                Take a selfie
                            </ng-template>
                            <div>

                                <ack-webcam
                                        [(ref)]   = "webcam"
                                        [options] = "options"
                                        (success) = "onCamSuccess($event)"
                                        (catch)   = "onCamError($event)"
                                ></ack-webcam>
                                <button (click)="shoot()"> Shoot </button>

                            </div>
                        </ul>
                    </mat-tab>
                    <mat-tab>
                        <ul>
                            <ng-template mat-tab-label>
                                My photos
                            </ng-template>
                            <div>
                              <ul class="photos">
                                <li class="photo" *ngFor="let photo of photosUploaded | async">
                                    <div class="button-row">
                                        <button (click)="makeCard(photo)" mat-icon-button color="accent">
                                            <mat-icon aria-label="Make card">card_giftcard</mat-icon>
                                        </button>
                                        <button (click)="deletePhoto(photo)" mat-icon-button color="primary">
                                            <mat-icon aria-label="Delete photo">delete</mat-icon>
                                        </button>
                                    </div>
                                    <span><img [src]="photo.url " /></span>
                                    <h3>{{photo.name}}</h3>
                                </li>
                              </ul>
                            </div>
                        </ul>
                    </mat-tab>
                    <mat-tab>
                        <ul>
                            <ng-template mat-tab-label>
                              My cards
                            </ng-template>
                            <div>
                              <ul>
                                  <li *ngFor="let photo of photosUploaded  | async">{{photo.name}}</li>
                              </ul>
                            </div>
                        </ul>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </form>
    </div>
</div>
